In [ ]:
!pip install mysqlclient

# 創建資料表

In [23]:
import MySQLdb

db = MySQLdb.connect("localhost","root","@pinrong0126",'PRACTICEDB')

cursor = db.cursor()

## 1.將如果STUDENTS資料表存在，將STUDENTS資料表丟棄
cursor.execute('DROP TABLES IF EXISTS STUDENTS')


## 2.創建STUDENTS資料表，資料表欄位如下
'''
| ID INT(11) | NAME CHAR(20) | GENDER CHAR(20) | CHINESE CHAR(20) | ENGLISH CHAR(20) | MATH CHAR(20) | SOCIAL_SCIENCE CHAR(20) | SCIENCE  CHAR(20) |

PRIMARY KEY = ID
CHARSET = utf8
'''
sql="""CREATE TABLE STUDENTS( 
        ID INT(11) NOT NULL AUTO_INCREMENT ,
        NAME CHAR(20) NOT NULL,
        GENDER CHAR(20) NOT NULL,
        CHINESE CHAR(20) NOT NULL,
        ENGLISH CHAR(20) NOT NULL,
        MATH CHAR(20) NOT NULL,
        SOCIAL_SCIENCE CHAR(20) NOT NULL,
        SCIENCE  CHAR(20) NOT NULL,
        PRIMARY KEY (ID))DEFAULT CHARSET=utf8"""


cursor.execute(sql)
cursor.execute("DESCRIBE STUDENTS")

database=cursor.fetchall()
for i in database:
    print(i)


db.close()

('ID', 'int', 'NO', 'PRI', None, 'auto_increment')
('NAME', 'char(20)', 'NO', '', None, '')
('GENDER', 'char(20)', 'NO', '', None, '')
('CHINESE', 'char(20)', 'NO', '', None, '')
('ENGLISH', 'char(20)', 'NO', '', None, '')
('MATH', 'char(20)', 'NO', '', None, '')
('SOCIAL_SCIENCE', 'char(20)', 'NO', '', None, '')
('SCIENCE', 'char(20)', 'NO', '', None, '')

# 手key學生成績到資料庫內  
請手動輸入以下兩位學生成績  
name: isaac, gender: m, chinese: 60, english: 72, math: 32, social_science: 52, science: 86  
name: amy, gender: f, chinese: 50, english: 22, math: 80, social_science: 15, science: 93

In [2]:
import MySQLdb

db = MySQLdb.connect("localhost","root","@pinrong0126",'PRACTICEDB')

cursor = db.cursor()

print("enter students score")
while True:

    student_name = input("enter name: ")
    student_gender = input("enter gender: ")
    student_chinese = input("enter chinese score: ")
    student_english = input("enter english score: ")
    student_math = input("enter math score: ")
    student_social_science = input("enter social science score: ")
    student_science = input("enter science score: ")
    
    ## 3.將student_name, student_gender, student_chinese, ......插入到資料庫
    sql="INSERT INTO STUDENTS(NAME,GENDER,CHINESE,ENGLISH,MATH,SOCIAL_SCIENCE,SCIENCE) VALUES(%s,%s,%s,%s,%s,%s,%s)"
    try:
        cursor.execute(sql,(student_name,student_gender,student_chinese,student_english,student_math,student_social_science,student_science))
        db.commit()
    except:
        db.rollback()
    
    again = input("continue(y/n)? ")
    if again[0].lower() == "n":
        break

db.close()

enter students score

enter name:  isaac
enter gender:  m
enter chinese score:  60
enter english score:  72
enter math score:  32
enter social science score:  52
enter science score:  86
continue(y/n)?  y
enter name:  amy
enter gender:  f
enter chinese score:  50
enter english score:  22
enter math score:  80
enter social science score:  15
enter science score:  93
continue(y/n)?  n

In [ ]:
name: isaac, gender: m, chinese: 60, english: 72, math: 32, social_science: 52, science: 86
name: amy, gender: f, chinese: 50, english: 22, math: 80, social_science: 15, science: 93

# 查詢目前資料庫所有內容

In [10]:
import MySQLdb

db = MySQLdb.connect("localhost","root","@pinrong0126",'PRACTICEDB')


cursor = db.cursor()

sql = "SELECT * FROM STUDENTS"

## 4.查詢目前資料庫所有內容
cursor.execute(sql)
try:
    result=cursor.fetchall()
    for i in result:
        print("name: ",i[1],", gender: ",i[2],", chinese: ",i[3],", english: ",i[4],",math: ",i[5],", social_science: ",i[6],", science: ",i[7])
except:
    print("ERROR")
db.close()

name:  isaac , gender:  m , chinese:  60 , english:  72 ,math:  32 , social_science:  52 , science:  86
name:  amy , gender:  f , chinese:  50 , english:  22 ,math:  80 , social_science:  15 , science:  93

# 使用csv檔案，大量匯入全班成績

In [45]:
import MySQLdb

db = MySQLdb.connect("localhost","root","@pinrong0126",'PRACTICEDB')


cursor = db.cursor()


## 5.將exam_score.csv所有學生成績插入資料庫
with open('exam_score.csv','r') as file:
    for index,i in enumerate(file.readlines()): #readlines()讀取檔案的所有行,enumerate()將每行內容與其對應的索引號（從 0 開始）一起返回
        if index==0:
            continue
        insertdata=tuple(i.strip().split(','))
        print("insert",insertdata[0],"data......")

        sql="INSERT INTO STUDENTS(NAME,GENDER,CHINESE,ENGLISH,MATH,SOCIAL_SCIENCE,SCIENCE) VALUES(%s,%s,%s,%s,%s,%s,%s)"
        try:
            cursor.execute(sql,insertdata)
            db.commit()
        except:
            cursor.rollback()

db.close()

insert loe data......
insert judy data......
insert lily data......
insert evan data......
insert joyce data......
insert yoshi data......
insert amber data......
insert alex data......
insert sophia data......

In [ ]:
insert loe data......
insert judy data......
insert lily data......
insert evan data......
insert joyce data......
insert yoshi data......
insert amber data......
insert alex data......
insert sophia data......

# 將sophia英文成績改成99

In [54]:
import MySQLdb

db = MySQLdb.connect("localhost","root","@pinrong0126",'PRACTICEDB')

cursor = db.cursor()

## 6.將sophia英文成績改成99
sql='UPDATE STUDENTs SET ENGLISH=99 WHERE NAME="SOPHIA"'
cursor.execute(sql)
db.commit()

cursor.execute("SELECT * FROM STUDENTS")
database=cursor.fetchall()
for i in database:
    print(i)

db.close()

(6, 'sophia', 'f', '79', '99', '70', '49', '70')
(7, 'loe', 'm', '70', '48', '69', '50', '66')
(8, 'judy', 'f', '89', '90', '59', '28', '39')
(9, 'lily', 'f', '37', '43', '67', '34', '43')
(10, 'evan', 'm', '12', '57', '97', '100', '100')
(11, 'joyce', 'f', '58', '48', '47', '98', '37')
(12, 'yoshi', 'm', '58', '49', '79', '38', '20')
(13, 'amber', 'f', '57', '23', '6', '28', '69')
(14, 'alex', 'm', '59', '69', '20', '60', '79')
(15, 'sophia', 'f', '79', '99', '70', '49', '70')

# 計算各科平均

In [91]:
import MySQLdb

db = MySQLdb.connect("localhost","root","@pinrong0126",'PRACTICEDB')

cursor = db.cursor()


sql = "SELECT * FROM STUDENTS"
chinese_sum = 0
english_sum = 0
math_sum = 0
social_science_sum = 0
science_sum = 0

try:
    
    cursor.execute(sql)

    results = cursor.fetchall()
    num_students = len(results) #學生數量
    ## 7.計算各個科目平均成績
    for row in results:
        student_id = row[0]
        student_name = row[1]
        student_gender = row[2]

        
        student_chinese = row[3]
        chinese_sum = chinese_sum + float(row[3])
                
        
        student_english = row[4]
        english_sum = english_sum + float(row[4])
        
        
        student_math = row[5]
        math_sum = math_sum + float(row[5])        
        
        student_social_science = row[6]
        social_science_sum = social_science_sum + float(row[6])   
        
        student_science = row[7]
        science_sum = science_sum + float(row[7])

        print('name: {}, gender: {}, chinese: {}, english: {}, math: {}, social_science: {}, science: {}' 
               .format(student_name, student_gender, student_chinese, student_english, student_math, student_social_science, student_science))

except:
    print("Error: unable to fecth data")

print('chinese_avg: {}'.format(chinese_sum/num_students))
print('english_avg: {}'.format(english_sum/num_students))
print('math_avg: {}'.format(math_sum/num_students))
print('social_science_avg: {}'.format(social_science_sum/num_students))
print('science_avg: {}'.format(science_sum/num_students))


db.close()

name: sophia, gender: f, chinese: 79, english: 99, math: 70, social_science: 49, science: 70
name: loe, gender: m, chinese: 70, english: 48, math: 69, social_science: 50, science: 66
name: judy, gender: f, chinese: 89, english: 90, math: 59, social_science: 28, science: 39
name: lily, gender: f, chinese: 37, english: 43, math: 67, social_science: 34, science: 43
name: evan, gender: m, chinese: 12, english: 57, math: 97, social_science: 100, science: 100
name: joyce, gender: f, chinese: 58, english: 48, math: 47, social_science: 98, science: 37
name: yoshi, gender: m, chinese: 58, english: 49, math: 79, social_science: 38, science: 20
name: amber, gender: f, chinese: 57, english: 23, math: 6, social_science: 28, science: 69
name: alex, gender: m, chinese: 59, english: 69, math: 20, social_science: 60, science: 79
name: sophia, gender: f, chinese: 79, english: 99, math: 70, social_science: 49, science: 70
chinese_avg: 59.8
english_avg: 62.5
math_avg: 58.4
social_science_avg: 53.4
science_avg: 59.3

In [ ]:
name: isaac, gender: m, chinese: 60, english: 72, math: 32, social_science: 52, science: 86
name: amy, gender: f, chinese: 50, english: 22, math: 80, social_science: 15, science: 93
name: loe, gender: m, chinese: 70, english: 48, math: 69, social_science: 50, science: 66
name: judy, gender: f, chinese: 89, english: 90, math: 59, social_science: 28, science: 39
name: lily, gender: f, chinese: 37, english: 43, math: 67, social_science: 34, science: 43
name: evan, gender: m, chinese: 12, english: 57, math: 97, social_science: 100, science: 100
name: joyce, gender: f, chinese: 58, english: 48, math: 47, social_science: 98, science: 37
name: yoshi, gender: m, chinese: 58, english: 49, math: 79, social_science: 38, science: 20
name: amber, gender: f, chinese: 57, english: 23, math: 6, social_science: 28, science: 69
name: alex, gender: m, chinese: 59, english: 69, math: 20, social_science: 60, science: 79
name: sophia, gender: f, chinese: 79, english: 99, math: 70, social_science: 49, science: 70
chinese_avg: 57.18181818181818
english_avg: 56.36363636363637
math_avg: 56.90909090909091
social_science_avg: 50.18181818181818
science_avg: 63.81818181818182

# 計算各科成績平均 by pandas

In [90]:
import pandas as pd
from sqlalchemy import create_engine
import MySQLdb

db = MySQLdb.connect("localhost","root","@pinrong0126",'PRACTICEDB')
cursor = db.cursor()

sql = "SELECT * FROM STUDENTS"
cursor.execute(sql)
result=cursor.fetchall()
df=pd.DataFrame(result,columns=['ID','NAME','GENDER','CHINESE','ENGLISH','MATH','SOCIAL_SCIENCE','SCIENCE'])
print(df.to_string(index=False))
df=df.apply(pd.to_numeric,errors="ignore")
#df['CHINESE']=pd.to_numeric(df['CHINESE'])

print('chinese_avg: {}'.format(df['CHINESE'].mean()))
print('english_avg: {}'.format(df['ENGLISH'].mean()))
print('math_avg: {}'.format(df['MATH'].mean()))
print('social_science_avg: {}'.format(df['SOCIAL_SCIENCE'].mean()))
print('science_avg: {}'.format(df['SCIENCE'].mean()))

 ID   NAME GENDER CHINESE ENGLISH MATH SOCIAL_SCIENCE SCIENCE
  6 sophia      f      79      99   70             49      70
  7    loe      m      70      48   69             50      66
  8   judy      f      89      90   59             28      39
  9   lily      f      37      43   67             34      43
 10   evan      m      12      57   97            100     100
 11  joyce      f      58      48   47             98      37
 12  yoshi      m      58      49   79             38      20
 13  amber      f      57      23    6             28      69
 14   alex      m      59      69   20             60      79
 15 sophia      f      79      99   70             49      70
chinese_avg: 59.8
english_avg: 62.5
math_avg: 58.4
social_science_avg: 53.4
science_avg: 59.3

C:\Users\user\AppData\Local\Temp\ipykernel_6024\182800506.py:13: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df=df.apply(pd.to_numeric,errors="ignore")

In [1]:
!pip freeze > requirements.txt